
<div>
  <h4>Usuário</h4>
  <ul>
    <li>Email: <%=current_user.email%></li>
    <li>Data de criação: <%=current_user.created_at%></li>
    <li>UID: <%=current_user.uid%></li>
  </ul>
</div>
<%= link_to "Sair", destroy_user_session_path, :method => :delete %>